<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Laboratorio EJS</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/paginas/descripcion">Descripcion</a>
        <a href="/paginas/fill1">Fill1</a>
        <a href="/paginas/fill2">Fill2</a>
        <a href="/formulario/form">Formulario</a>
        <a href="/formulario/datos">Datos</a>
    </nav>