<%- include('partials/head.ejs') %>
<h1> Descripcion Package.json</h1> 
        <p>   Package.json es un archivo generado automaticamente al crear un nuevo proyecto, este archivo gestiona las configuraciones
        dependencias y scripts que maneja el proyecto, </p>
<%- include('partials/footer.ejs') %>